.activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.activities div {
    flex-basis: 400px;
    padding: 20px;
}


.activities img {
    /* height: 100%; */
    width: 100%;
}

@media (max-width:890px) {
    .activities {
        justify-content: center;
    }
}