.app {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
}

.baner {
    height: calc(100vh - 60px);
    background-color: black;
    border-top: 1px solid white;
}


.gallery {
    height: 100vh;
    background-color: black;
    border-top: 1px solid white;
}

.about_us {
    height: 100vh;
    background-color: black;
    border-top: 1px solid white;
}

.activities {
    height: 100vh;
    background-color: black;
    border-top: 1px solid white;
}

.opinions {
    height: 100vh;
    background-color: black;
    border-top: 1px solid white;
}

.contact {
    height: 100vh;
    background-color: black;
    border-top: 1px solid white;
}

.footer {
    background-color: black;
    border-top: 1px solid white;
}