.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: #fafafa;
    border-top: 1px solid white;
}

.news__article {
    background-color: white;
    flex-basis: 300px;
    height: 350px;
    margin: 20px;
}